body {
    background: url("https://img.freepik.com/free-vector/beige-leafy-watercolor-background_53876-118936.jpg?w=2000") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form{
    margin-top: -750px;
    width: 500px;
  }
  .contact-us {
    background: #44dda0;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0, 0, 0, 1);
    margin-top: -50px; /* Adjust the value to raise or lower the form */
  }
  
  input {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 24pt;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 14pt;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0, 0, 0, 1);
  }
  
  input:focus {
    border-bottom: 3px solid #ffa580;
  }
  
  button {
    display: block;
    margin: 0 auto;
    line-height: 24pt;
    padding: 0 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1);
  }
  
  button:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  
  ::selection {
    background: #ffc8ff;
  }
  